
body {
  background: linear-gradient(to bottom right, #e3f2fd, #ffffff);
  font-family: 'Segoe UI', sans-serif;
  }

  .login-card {
    width: 100%;
    max-width: 420px;
    background-color: #fff;
    border: none;
  }
  
  .login-header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 12px;
  }
  
  .login-header h2 {
    color: #e6eaf0; 
  }
  
  .login-header p {
    color: #ccc;
  }
  
  .login-header img {
    border-radius: 8px;
  }
  
  .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    overflow: hidden;
    background: #0d6efd;
    z-index: 0;
  }
  
  .animated-glasses {
    position: absolute;
    top: 20px;
    left: -200px;
    height: 80px;
    animation: moveBanner 10s linear infinite;
  }
  footer {
    background-color: #333;
    color: rgb(14, 13, 13);
    text-align: center;
    padding: 15px;
    font-size: 1rem;
    width: 100%;
    margin-top: auto; 
  }
  
  footer p {
    margin: 0;
  }
  
  @keyframes moveBanner {
    0% {
      left: -200px;
    }
    100% {
      left: 100%;
    }
  }
  

  .form-floating input {
    border-radius: 12px;
  }
  

  .btn-dark, .btn-outline-primary {
    font-weight: 500;
    padding: 10px 0;
  }

  @media (max-width: 768px) {
    .login-card {
        width: 90%; 
        padding: 20px;
    }

    .login-header {
        padding: 15px; 
    }

    .login-header h2 {
        font-size: 1.5rem; 
    }

    footer {
        font-size: 0.9rem; 
        padding: 10px; 
    }
}


@media (max-width: 480px) {
    .login-card {
        width: 100%; 
        padding: 15px; 
    }

    .login-header {
        padding: 10px; 
    }

    .login-header h2 {
        font-size: 1.25rem; 
    }

    footer {
        font-size: 0.8rem; 
    }

    .animated-glasses {
        height: 60px; 
    }
}
  